
<style type="text/css">
.bingo {
  text-align: center;
}
.text {
  font-size: 11pt;
}
</style>

  <div class="span-15 prepend-1 colborder">

    <p class="text">
      Você <b>dorme</b> durante as reuniões de trabalho?<br>
      Sente um <b>tédio</b> imenso durante as conferências, seminários e colóquios?<br>
      Seus problemas acabaram! Foi criado um método eficaz para combater esse problema.
    </p>

    <p>
      <img style="text-align: center;" src="/images/bingo-big.png" alt="Business BINGO!">
    </p>

    <h3>Quero Jogar!</h3>

    <div>
      <% form_for @bingo, :url => { :action => "create" } do |f| %>
        <p align="center">
          <%= f.label "Quantidade:" %>&nbsp;
          <%= f.text_field :quantidade, :size => "3" %>&nbsp;&nbsp;
          <%= f.submit 'Gerar Cartelas!' %>
        </p>
        <p>

        </p>
      <% end %>
    </div>

    <p class="text">
      As cartelas são geradas com os termos ao lado.<br>
      Sempre que ouvir a palavra ou expressão, marque a mesma com um X.<br>
      Quando completar uma linha, coluna ou diagonal, grite BINGO!
    </p>

    <br/>
    <h3>Testemunho de jogadores satisfeitos</h3>
    <ul>
      <li>A reunião só tinha começado há 5 minutos quando ganhei!</li>
      <li>A minha capacidade para escutar aumentou muito desde comecei a jogar o Business Bingo</li>
      <li>A atmosfera da última reunião foi muito tensa porque 14 pessoas estavam à espera de preencher a 5ª casa</li>
      <li>O diretor geral ficou surpreso ao ouvir oito pessoas gritando "BINGO", pela 3ª vez em uma hora</li>
      <li>Agora, vou a todas as reuniões da minha organização, mesmo que não me convoquem</li>
    </ul>

  </div>


  <div class="span-7 last">
    <p style="color: green"><%= flash[:notice] %></p>
    <h3>Termos usados nas cartelas</h3>
    <p>
      <% @termos.each do |termo| %>
        <%= link_to termo.nome, edit_termo_path(termo) %>
      <% end %>
    </p>
    <%= link_to 'Novo Termo', new_termo_path %>
  </div>
