
  <div class="span-15 prepend-1 colborder">

    <p>Driblando o sono em reuniões onde sua presença não serve pra nada e você não vê a hora do coffee break chegar para avançar nas migalhas de biscoitos e café ....<br>
    Você <b>dorme</b> durante as reuniões de trabalho?<br>
    Sente um <b>tédio</b> imenso durante as conferências, seminários e colóquios?<br>
    Seus problemas acabaram!!! Foi criado um método eficaz para combater esse problema!</p>
    <p>BUSINESS BINGO !!!!!</p>
    <p>Imprima as cartelas abaixo antes de começar a reunião, seminário, conferência, etc.<br>
    Sempre que ouvir a palavra ou expressão contida numa das casas, marque a mesma com um (X).<br>
    Quando completar uma linha, coluna ou diagonal, grite "BINGO"!</p>

    <% form_for @bingo, :url => { :action => "create" } do |f| %>
      <%= f.error_messages %>
      <p>
        <%= f.label :quantidade, "Quantidade de cartelas" %><br />
        <%= f.text_field :quantidade %>
      </p>
      <p>
        <%= f.submit 'Gerar Cartelas' %>
      </p>
    <% end %>

  </div>

  <div class="span-7 last">
    <h3>Termos usados nas cartelas</h3>
    <p>
      <% @termos.each do |termo| %>
        <%= termo.nome %>
      <% end %>
    </p>
    <%= link_to 'Termos', termos_path %>
  </div>
