<h1>Editar termo</h1>

<% form_for(@termo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Nome" %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Voltar', root_path %>
