
<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @termos.each do |termo| %>
  <tr>
    <td><%=h termo.nome %></td>
    <td><%= link_to 'Editar', edit_termo_path(termo) %></td>
    <td><%=
          #nao-permitido: link_to 'Excluir', termo, :confirm => 'Você tem certeza?', :method => :delete 
        %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo', new_termo_path %>
<%= link_to 'Voltar', :controller => "bingo", :action => "index" %>

